<!DOCTYPE html>
<div id="displayDate">

    <span id="dayName">My Tasks</span>
    <span id="dateText">todo.list // <a id="addTaskLabel" href='#'>add task</a></ad></span>
    <div id="underline"></div>

</div>

<div id="formPopup">
    <form id="addTask_form">
        <div class="form-group">
            <label class="taskLabel" for="taskName">Task:</label>
            <input type="text" id="task_name" name="task_name" class="task_input form-control" />
            <label class="taskLabel" for="task_Label">Label:</label>
            <input type="text" id="task_label" placeholder="" name="task_label" class="label_input form-control" />
            <label class="taskLabel" for="task_Priority">Priority:</label>
            <input type="text" id="task_priority" placeholder="" name="task_priority" class="priority_input form-control" />
        </div>

        <button id="addTaskButton">Add</button>
        <a href='#' id="cancel">Cancel</a>
        <div id="bottomCover"></div>
    </form>
</div>



<div id="task-list">

</div>
