<!DOCTYPE html>
<div class="fullWindow" ng-click=menuExitClicked()>
</div>
<div class="menuWindow">
  <div ng-click="menuExitClicked()" class="exitMenu"><span class="exitX">x</span></div>
  <div class="menubuttonTopLeft">
    <span class="menuIcon glyphicon glyphicon-equalizer"></span>
    <h3 class="menuTitle">view progress charts</h3>
  </div>
  <div class="menubuttonTopRight">
    <span class="menuIcon glyphicon glyphicon-pencil"></span>
    <h3 class="menuTitle">display settings</h3>
  </div>
  <div class="menubuttonBottomLeft">
    <span class="menuIcon glyphicon glyphicon-user"></span>
    <h3 class="menuTitle">manage account</h3>
  </div>
  <div class="menubuttonBottomRight">
    <span class="menuIcon glyphicon glyphicon-earphone"></span>
    <h3 class="menuTitle">contact todo.list</h3>
  </div>
</div>
